@font-face {
    font-family: "Hans Kendrick";
    font-style: normal;
    font-weight: 400;
    src:local("Hans Kendrick");
    src:url("Fonts/NeueHansKendrick-Regular.woff");
}
body {
    background: black;
    margin-top: 50px;
 }
 .container {
    padding: 0;
    background: #E2E7EC;
    width: 1600px;
    height: 1400px;
    margin: auto;
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   align-self: center;
   justify-content: space-evenly;
}
.image1 {
    padding: 0;
    box-sizing: border-box;
    width: 740px;
    height: 541px;
/* border: 2px solid red; */
margin-left: 220px;
margin-top: 91px;
background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url('Foto1/Layer\ 8.png');
}
.image2 {
    background:#FFFFFF ;
    padding: 0;
    box-sizing: border-box;
    width: 361px;
    height: 541px;
    /* border: 2px solid red; */
    margin-right: 220px;
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:baseline;
}
.text0 {
font-size: 13px;
letter-spacing: 0px;
line-height: 30px;
color: #ffffff;
font-weight: 500;
font-family: "Hans Kendrick";
margin-top: 350px;
margin-bottom: 30px;
margin-left: 25px;
    }

.text01 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 36px;
    color: #FFFFFF;
    width: 450px;
    height: 60px;
    font-family: "Hans Kendrick";
    margin-left: 25px;
    text-transform:uppercase;
    }
.text1 {
font-size: 13px;
letter-spacing: 0px;
line-height: 30px;
color: #818181;
font-weight: 500;
font-family: "Hans Kendrick";
margin-left: 25px;
}
.text2 {
font-size: 21px;
letter-spacing: 1px;
line-height: 30px;
color: #1d1d1d;
font-family: "Hans Kendrick";
margin-left: 25px;
margin-right: 25px;
text-transform:uppercase;
}
.text3 {
    color:#FFFFFF;
    }
    .text4 {
        font-size: 13px;
        letter-spacing: 0px;
        line-height: 30px;
        color: #99a5b0;
        font-family: "Hans Kendrick";
        text-transform:uppercase;
        margin-left: 10px;
        }
.face {
    margin-bottom: 25px;
    margin-left: 25px;
}
.image3 {
    
    box-sizing: border-box;
    width: 361px;
    height: 541px;
    /* border: 2px solid red; */
    margin-left: 220px;
    margin-bottom:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:baseline;
    background:#FFFFFF ;
}
.image4 {
    box-sizing: border-box;
    width: 361px;
    height: 541px;
    /* border: 2px solid red; */
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:baseline;
    background:#FFFFFF ;
}
.image5 {
    
    box-sizing: border-box;
    width: 361px;
    height: 541px;
    /* border: 2px solid red; */
    margin-right: 220px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:baseline;
    background:#FFFFFF ;
}
.image6 {
    display: flex;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    width: 300px;
    height: 60px;
    /* border: 2px solid red; */
    margin-bottom: 60px;
}